<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>199745294517-o4bqc6uaoul2a3b1k40fs2h8g9hb6c24.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.199745294517-o4bqc6uaoul2a3b1k40fs2h8g9hb6c24</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>199745294517-6p34393kkeqigp1gcv9h9npjfjbd5g4b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCI-7gcD_mn6n5BmhUYN0C6dDgYxuQpMlA</string>
	<key>GCM_SENDER_ID</key>
	<string>199745294517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobilVerifyApp</string>
	<key>PROJECT_ID</key>
	<string>phone-verification-47277</string>
	<key>STORAGE_BUCKET</key>
	<string>phone-verification-47277.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:199745294517:ios:fdba7c49f7db759302eefc</string>
</dict>
</plist>